.scroll-section {
  overflow: hidden;
}
.wrapper {
  height: 100vh;
}
.list {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.item {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}
.item_content {
  width: 50%;
  padding: 3rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item_media {
  width: 50%;
  height: 100%;
}
.item_number {
  font-size: 1.25rem;
  background: black;
  color: white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
